<script setup lang="ts">
import { ref } from "vue";
const messages1 = ref([
  {
    message: `ศึกษาตั้งแต่ อนุบาล 1 - ประถมศึกษาปีที่ 6`,
    color: "blue",
  },
]);
const messages2 = ref([
  {
    message: `ศึกษาตั้งแต่ มัธยมศึกษาปีที่ 1 - มัธยมศึกษาปีที่ 6`,
    color: "green",
  },
]);
const messages3 = ref([
  {
    message: `ศึกษาตั้งแต่ ปีที่ 1 - ปัจจุบัน(ปีที่ 2)`,
    color: "yellow",
  },
]);

const frameList = ref([
  {
    order: "1",
    name: "เกม",
  },
  {
    order: "2",
    name: "การวาดรูป / ศิลปะ",
  },
  {
    order: "3",
    name: "ภาพยนตร์",
  },
]);
</script>

<template>
  <div>
    <v-card class="mx-auto" max-width="100%" max-height="220" rounded="0">
      <v-img
        height="100%"
        cover
        src="https://cdn.vuetifyjs.com/images/cards/server-room.jpg"
      >
        <v-avatar color="grey" size="170">
          <v-img
            cover
            src="https://scontent.fbkk24-1.fna.fbcdn.net/v/t1.15752-9/319533872_5441273489331508_6707562430601996160_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeF1WYW5PaSBLwp9gTZdACq1gNtqpsqn5YOA22qmyqflg8VjyoL4Tpaz7WUPaf76fgt2QYlTVXPpqEoiYdfzJuxs&_nc_ohc=cwco9yBgSwIAX-WHyDg&_nc_ht=scontent.fbkk24-1.fna&oh=03_AdSm1W06fJIzEFWWZ9cEC3J-rYO_Rm9S6eLoBRcBKn2DJw&oe=63C521B7"
          ></v-img>
        </v-avatar>
        <v-list-item
          class="text-white"
          title="ศุภณัฐ ทำสอาด (ณัฐ)"
        ></v-list-item>
      </v-img>
    </v-card>
  </div>
  <br />
  <br />

  <v-row>
    <v-col>
      <v-table>
        <thead>
          <tr>
            <td>
              <v-container>
                <v-row justify="space-around">
                  <v-card width="650">
                    <v-img
                      height="200"
                      src="https://map.longdo.com/files/images/2019/01/07/phpkjyHn4-crop1200x630"
                      cover
                      class="text-white"
                    >
                      <v-toolbar color="rgba(0, 0, 0, 0)" theme="dark">
                      </v-toolbar>
                    </v-img>

                    <v-card-text>
                      <div class="font-weight-bold ml-1 mb-2">
                        โรงเรียนวัดขอนหอม
                      </div>

                      <v-timeline density="compact" align="start">
                        <v-timeline-item
                          v-for="message in messages1"
                          :key="message.message"
                          :dot-color="message.color"
                          size="x-small"
                        >
                          <div class="mb-4">
                            <div>{{ message.message }}</div>
                          </div>
                        </v-timeline-item>
                      </v-timeline>
                    </v-card-text>
                  </v-card>
                </v-row>
              </v-container>
            </td>
            <td>
              <v-container>
                <v-row justify="space-around">
                  <v-card width="650">
                    <v-img
                      height="200"
                      src="https://fingerscanshop.com/wp-content/uploads/2021/08/timeline_25640710_150611-2.jpg"
                      cover
                      class="text-white"
                    >
                      <v-toolbar color="rgba(0, 0, 0, 0)" theme="dark">
                      </v-toolbar>
                    </v-img>

                    <v-card-text>
                      <div class="font-weight-bold ml-1 mb-2">
                        โรงเรียนแก่งคอย
                      </div>

                      <v-timeline density="compact" align="start">
                        <v-timeline-item
                          v-for="message in messages2"
                          :key="message.message"
                          :dot-color="message.color"
                          size="x-small"
                        >
                          <div class="mb-4">
                            <div>{{ message.message }}</div>
                          </div>
                        </v-timeline-item>
                      </v-timeline>
                    </v-card-text>
                  </v-card>
                </v-row>
              </v-container>
            </td>
          </tr>
          <br />
          <br />
          <tr>
            <td>
              <v-container>
                <v-row justify="space-around">
                  <v-card width="650">
                    <v-img
                      height="200"
                      src="https://static.thairath.co.th/media/4DQpjUtzLUwmJZZSBHpvcgTv9DBilfp6WOdA5RGsiqf9.jpg"
                      cover
                      class="text-white"
                    >
                      <v-toolbar color="rgba(0, 0, 0, 0)" theme="dark">
                      </v-toolbar>
                    </v-img>

                    <v-card-text>
                      <div class="font-weight-bold ml-1 mb-2">
                        มหาวิทยาลัยบรูพา
                      </div>

                      <v-timeline density="compact" align="start">
                        <v-timeline-item
                          v-for="message in messages3"
                          :key="message.message"
                          :dot-color="message.color"
                          size="x-small"
                        >
                          <div class="mb-4">
                            <div>{{ message.message }}</div>
                          </div>
                        </v-timeline-item>
                      </v-timeline>
                    </v-card-text>
                  </v-card>
                </v-row>
              </v-container>
            </td>
          </tr>
        </thead>
        <tbody></tbody>
      </v-table>
    </v-col>
  </v-row>

  <br />
  <br />
  <v-table theme="dark">
    <thead>
      <tr>
        <th class="text-left">ลำดับ</th>
        <th class="text-left">สิ่งที่สนใจ</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item in frameList" :key="item.name">
        <td>{{ item.order }}</td>
        <td>{{ item.name }}</td>
      </tr>
    </tbody>
  </v-table>
</template>
